<div class="container">
  <div class="my-5">
    <h1>Analizador de ortografía</h1>
    <form id=formId (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="col-12 form-group">
        <label for="paragraph">Párrafo</label>
        <textarea type="text" id="paragraph" class="form-control" name="paragraph" ngModel required></textarea>
        <button class="btn btn-success mt-3" type="submit" [disabled]="!f.valid">Verificar</button>
      </div>
    </form>
  </div>
  <app-loading *ngIf="loading"></app-loading>

  <div class="table-responsive" *ngIf="data" >
    <table class="table" *ngIf="data.data"  >
      <thead class="thead-dark">
        <tr>
          <th scope="col">Palabra</th>
          <th scope="col">Categoría</th>
          <th scope="col">Mensaje</th>
          <th scope="col">Recomendaciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let error of data.data" >
          <td>{{getWrongWord(error.errorPosition, error.errorLength)}}</td>
          <td>{{error.category}}</td>
          <td>{{error.message}}</td>
          <td><span class="badge badge-warning mr-2" *ngFor="let replacement of error.replacements">{{replacement}}</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
